<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= article.abstract %>
  </p>

  <p>
    <strong>File:</strong>
    <%= article.file %>
  </p>

  <p>
    <strong>User:</strong>
    <%= article.user_id %>
  </p>

</div>
